In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv("Churn_Modelling.csv")

In [3]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'],axis=1)

In [5]:
label_encode_gender = LabelEncoder()
data['Gender'] = label_encode_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [6]:
from sklearn.preprocessing import OneHotEncoder
ohe_geo = OneHotEncoder()
geo_encoder = ohe_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
ohe_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df = pd.DataFrame(geo_encoder, columns=ohe_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
data = pd.concat([data.drop('Geography', axis = 1), geo_encoded_df], axis = 1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [10]:
X = data.drop('EstimatedSalary', axis = 1)
y = data['EstimatedSalary']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [22]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [14]:
#ANN Model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1], )), #HL1 connected with IP layer
    Dense(32, activation='relu'), #HL2
    Dense(1) #OP Layer - Linear Activation
])

In [16]:
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
## set up tensorboard
import datetime
log_dir = "reglogs/fit/" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [24]:
##Set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [25]:
## Train the model
history= model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks = [tensorflow_callback, early_stopping_callback]
    )

Epoch 1/100
WARNING:tensorflow:From g:\DS_ML\ANN Classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From g:\DS_ML\ANN Classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 8ms/step - loss: 100380.8906 - mae: 100380.8906 - val_loss: 98530.7266 - val_mae: 98530.7266
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 99687.0781 - mae: 99687.0781 - val_loss: 97138.4141 - val_mae: 97138.4141
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97268.6094 - mae: 97268.6094 - val_loss: 93596.1797 - val_mae: 93596.1797
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 92476.6562 - mae: 92476.6562 - val_loss: 87614.2266 - val_mae: 87614.2266
Epoch 5/100
250/250 [==============================] - 2s 7ms/step - loss: 85405.6484 - mae: 85405.6484 - val_loss: 79732.2344 - val_mae: 79732.2344
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 76889.7109 - mae: 76889.7109 - val_loss: 71261.2969 - val_mae: 71261.2969
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 68366.3828 - mae: 68366.3828 - val_loss: 63511.9805 - val_mae: 63511.9805
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 61146.1992 - mae: 61146.1992 - val_loss: 57584.4453 - val_mae: 57584.4453
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 55974.2383 - mae: 55974.2383 - val_loss: 53834.0508 - val_mae: 53834.0508
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 52937.6719 - mae: 52937.6719 - val_loss: 51903.6367 - val_mae: 51903.6367
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51442.6875 - mae: 51442.6875 - val_loss: 51058.9141 - val_mae: 51058.9141
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50764.7891 - mae: 50764.7891 - val_loss: 50752.3477 - val_mae: 50752.3477
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50439.1992 - mae: 50439.1992 - val_loss: 50639.3984 - val_mae: 50639.3984
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50287.5469 - mae: 50287.5469 - val_loss: 50594.8438 - val_mae: 50594.8438
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50207.7695 - mae: 50207.7695 - val_loss: 50550.9141 - val_mae: 50550.9141
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50145.1836 - mae: 50145.1836 - val_loss: 50517.1797 - val_mae: 50517.1797
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50085.6719 - mae: 50085.6719 - val_loss: 50495.3789 - val_mae: 50495.3789
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50041.6602 - mae: 50041.6602 - val_loss: 50468.1055 - val_mae: 50468.1055
Epoch 19/100
250/250 [==============================] - 2s 7ms/step - loss: 50002.9883 - mae: 50002.9883 - val_loss: 50450.0117 - val_mae: 50450.0117
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49967.3555 - mae: 49967.3555 - val_loss: 50436.0195 - val_mae: 50436.0195
Epoch 21/100
250/250 [==============================] - 2s 6ms/step - loss: 49935.9883 - mae: 49935.9883 - val_loss: 50428.4727 - val_mae: 50428.4727
Epoch 22/100
250/250 [==============================] - 1s 6ms/step - loss: 49906.2031 - mae: 49906.2031 - val_loss: 50414.6523 - val_mae: 50414.6523
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49879.4883 - mae: 49879.4883 - val_loss: 50404.2539 - val_mae: 50404.2539
Epoch 24/100
250/250 [==============================] - 2s 6ms/step - loss: 49859.0859 - mae: 49859.0859 - val_loss: 50396.3828 - val_mae: 50396.3828
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49834.4453 - mae: 49834.4453 - val_loss: 50381.9570 - val_mae: 50381.9570
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49812.2383 - mae: 49812.2383 - val_loss: 50371.1875 - val_mae: 50371.1875
Epoch 27/100
250/250 [==============================] - 2s 8ms/step - loss: 49796.0430 - mae: 49796.0430 - val_loss: 50364.9766 - val_mae: 50364.9766
Epoch 28/100
250/250 [==============================] - 2s 8ms/step - loss: 49775.3633 - mae: 49775.3633 - val_loss: 50357.7031 - val_mae: 50357.7031
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49759.7031 - mae: 49759.7031 - val_loss: 50346.6055 - val_mae: 50346.6055
Epoch 30/100
250/250 [==============================] - 2s 8ms/step - loss: 49744.4414 - mae: 49744.4414 - val_loss: 50345.7188 - val_mae: 50345.7188
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49727.8008 - mae: 49727.8008 - val_loss: 50340.8203 - val_mae: 50340.8203
Epoch 32/100
250/250 [==============================] - 2s 6ms/step - loss: 49711.8711 - mae: 49711.8711 - val_loss: 50334.4414 - val_mae: 50334.4414
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 49700.2617 - mae: 49700.2617 - val_loss: 50343.5430 - val_mae: 50343.5430
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49687.9609 - mae: 49687.9609 - val_loss: 50338.9297 - val_mae: 50338.9297
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49676.1484 - mae: 49676.1484 - val_loss: 50338.6484 - val_mae: 50338.6484
Epoch 36/100
250/250 [==============================] - 2s 6ms/step - loss: 49660.7148 - mae: 49660.7148 - val_loss: 50340.4766 - val_mae: 50340.4766
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49653.0781 - mae: 49653.0781 - val_loss: 50333.0859 - val_mae: 50333.0859
Epoch 38/100
250/250 [==============================] - 1s 6ms/step - loss: 49639.2070 - mae: 49639.2070 - val_loss: 50335.5078 - val_mae: 50335.5078
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49626.1875 - mae: 49626.1875 - val_loss: 50335.2227 - val_mae: 50335.2227
Epoch 40/100
250/250 [==============================] - 2s 7ms/step - loss: 49619.2852 - mae: 49619.2852 - val_loss: 50326.7109 - val_mae: 50326.7109
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49607.1211 - mae: 49607.1211 - val_loss: 50325.7188 - val_mae: 50325.7188
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49599.5195 - mae: 49599.5195 - val_loss: 50327.2578 - val_mae: 50327.2578
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49591.8828 - mae: 49591.8828 - val_loss: 50328.3789 - val_mae: 50328.3789
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49583.4141 - mae: 49583.4141 - val_loss: 50328.7539 - val_mae: 50328.7539
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49576.3125 - mae: 49576.3125 - val_loss: 50325.0273 - val_mae: 50325.0273
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49566.6289 - mae: 49566.6289 - val_loss: 50323.3398 - val_mae: 50323.3398
Epoch 47/100
250/250 [==============================] - 2s 6ms/step - loss: 49557.8555 - mae: 49557.8555 - val_loss: 50322.1172 - val_mae: 50322.1172
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49547.7812 - mae: 49547.7812 - val_loss: 50325.6172 - val_mae: 50325.6172
Epoch 49/100
250/250 [==============================] - 2s 7ms/step - loss: 49544.3984 - mae: 49544.3984 - val_loss: 50329.4883 - val_mae: 50329.4883
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49534.7891 - mae: 49534.7891 - val_loss: 50326.8008 - val_mae: 50326.8008
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 49528.0234 - mae: 49528.0234 - val_loss: 50325.6250 - val_mae: 50325.6250
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49519.6992 - mae: 49519.6992 - val_loss: 50326.6445 - val_mae: 50326.6445

In [27]:
%load_ext tensorboard

In [29]:
%tensorboard --logdir reglogs/fit

Reusing TensorBoard on port 6010 (pid 11916), started 0:00:26 ago. (Use '!kill 11916' to kill it.)

In [30]:
model.save("regression_model.h5")

g:\DS_ML\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(